@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply w-screen overflow-x-hidden bg-dark;
  }

  .container {
    @apply mx-auto w-full !max-w-full px-4 md:px-8 lg:px-[38px] xl:!max-w-[1136px] xl:px-0;
  }
}

@layer utilities {
  .hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
}
